.section-list {
  height: 100%;
  width: 100%;
  position: relative;
}

.section {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);

  height: 100%;
  width: 100%;

  h1 {
    @include adjust-font-size-to(56px);
    color: #fff;
  }

  &.chardonnay {
    background-color: #ffcd8c;
  }

  &.illusion {
    background-color: #f8a0b0;
  }

  &.viking {
    background-color: #6ec7d7;
  }

  &.neonCarrot {
    background-color: #ff9b36;
  }

  &.mandy {
    background-color: #e4566c;
  }

  &.bondiBlue {
    background-color: #0090b1;
  }
}
